@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: '__nm_l1te';
    src: url('/fonts/NeueMontreal-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  } 
  @font-face {
    font-family: '__nm_r3g';
    src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  } 
  @font-face {
    font-family: '__nm_m3d';
    src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  } 
  @font-face {
    font-family: '__nm_b0ld';
    src: url('/fonts/NeueMontreal-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  } 

  :root {
    --text-light: '__nm_l1te', sans-serif;
    --text-regular: '__nm_r3g', sans-serif;
    --text-medium: '__nm_m3d', sans-serif;
    --text-bold: '__nm_b0ld', sans-serif;

    --text-opacity: 1;
    --dark: rgb(21 19 28 / var(--text-opacity)); /* dark — #15131C */
    --semi-dark: rgb(28 24 45 / var(--text-opacity)); /* semi-dark — #1C182D */
    --violet: rgb(64 49 122 / var(--text-opacity)); /* violet — #40317A */
    --dark-violet: rgb(46 41 69 / var(--text-opacity)); /* dark-violet — #2E2945 */
    --light-violet: rgb(193 177 255 / var(--text-opacity)); /* light-violet — #C1B1FF */
    --bluish: rgb(79 70 229 / var(--text-opacity)); /* bluish — #4F46E5 */
    --white: rgb(243 243 241 / var(--text-opacity)); /* bluish — #F3F3F1 */

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8571rem + 0.0893vi, 0.9375rem);
    --space-sm: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
    --space-md: clamp(1.6875rem, 1.6339rem + 0.2679vi, 1.875rem);
    --space-lg: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2679rem + 0.5357vi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3571rem + 0.7143vi, 5rem);
    --space-3xl: clamp(4.75rem, 5.2571rem + 1.2023vi, 5.25rem);
  }

  body {
    background-color: var(--dark);
    /* background-color: #0E184B; */
    font-family: var(--text-regular);
    color: var(--white);
  }

  body::before, body::after {
    position: fixed;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 3023023023020;
    pointer-events: none;
    opacity: 18%;
  }
  
  body::before {
    filter: url(#grainy);
  }

  body::-webkit-scrollbar {
    @apply w-[9px];
  }
  body::-webkit-scrollbar-track {
    @apply bg-transparent rounded-[5px];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-[5px] border-[#342e3f] border-solid border;
  }

  img, video {
    width: auto;
    height: auto;
  }
}

@layer utilities {
  .grid-style {
    @apply grid grid-cols-4 gap-x-xs md:grid-cols-9 lg:grid-cols-12 w-full;
  }
  .section-x-padding {
    @apply px-[var(--space-xs)] md:px-[var(--space-md)];
  }
  .heading {
    @apply text-heading-2 lg:text-heading-1;
  }
  .text-style {
    @apply text-base-small opacity-75 md:text-base leading-tight;
  }
  .grid-style2 {
    @apply grid grid-cols-4 md:grid-cols-10 xl:grid-cols-12 gap-x-xs;
  }
  .grid-style-project {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-md;
  }
  
  .gradient {
    background-image: linear-gradient(-125deg, #d6a3e400, var(--dark-violet));
  }
  .line {
    background-image: linear-gradient(-125deg, #d6a3e400, var(--violet));
  }

  /* CARDS */
  #card-1 .card-inner {
    background-color: var(--semi-dark);
  }

  #card-2 .card-inner {
    background-color: var(--dark-violet); 
  }

  #card-3 .card-inner {
    background-color: var(--violet);
  }

  #card-4 .card-inner {
    background-color: var(--semi-dark);
  }

  #card-5 .card-inner {
    background-color: var(--dark-violet); 
  }

  #card-6 .card-inner {
    background-color: var(--violet);
  }

  #card-7 .card-inner {
    background-color: var(--semi-dark);
  }

  #card-8 .card-inner {
    background-color: var(--dark-violet); 
  }

  #card-9 .card-inner {
    background-color: var(--violet);
  }

  #card-10 .card-inner {
    background-color: var(--semi-dark);
  }

  #card-11 .card-inner {
    background-color: var(--dark-violet); 
  }
}



