
.hero, .intro, .outro {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2em;
}

.hero {
    padding: 0;
}

.intro, .outro {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.intro h1, .outro h1 {
    margin-bottom: 0;
}

@media (max-width: 900px) {
    h1 {
        margin-bottom: 4rem;
    }

    .card-img, .card-content p {
        display: none;
    }

    .card {
        height: 300px;
    }
}

